# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pc\AppData\Roaming\JetBrains\DataGrip2021.1\projects\prod-data\.idea/dataSources/
/dataSources.local.xml
